authoritative;
option domain-name "{{ zone_name }}";
option domain-name-servers {{ zone_primary_ns }}, {{ external_dns_server }};

ddns-updates on;
ddns-update-style interim;
ignore client-updates;
update-static-leases on;

max-lease-time {{ max_lease }};
default-lease-time {{ default_lease }};

include "/data/ddns.key";

zone {{ zone_name }}. {
  primary {{ zone_primary_ns }};
  key DDNS_UPDATE;
}

zone {{ reverse_zone_name }}. {
  primary {{ zone_primary_ns }};
  key DDNS_UPDATE;
}

subnet {{ net_addr }} netmask {{ net_mask }} {
  {% if low_net_addr is defined and
        high_net_addr is defined and
        low_net_addr != "" and
        high_net_addr != "" %}
  range {{ low_net_addr }} {{ high_net_addr }};
  {% endif %}
  option routers{% for router in routers %} {{ router }}{% endfor %};
}

{% if fixed_leases is defined %}
{% for fixed_lease in fixed_leases %}
host {{ fixed_lease.name }} {
  hardware ethernet {{ fixed_lease.mac }};
  fixed-address {{ fixed_lease.ip }};
  option host-name "{{ fixed_lease.name }}.{{ zone_name }}";
}
{% endfor %}
{% endif %}
